<div class="card card-body bg-light">
  <h1>New Customer</h1>

  <%= render 'form', customer: @customer %>
  <br />
  <%= link_to 'Back', customers_path, class: "btn btn-warning", role: "button" %>
</div>
